.fade-in {
  opacity: 0;

  .is-shown &,
  &.is-shown {
    animation: fadeIn 1s $cubic-bezier both
  }

}

@keyframes fadeIn {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}