.heading {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 18px 0;

  &-en {
    font-family: $font-lemon;
    font-size: 40px;

    @include viewport($breakpoint-mobile) {
      font-size: 32px;
    }
  }

  &-jp {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.2em;
    padding-left: 8px;

    @include viewport($breakpoint-mobile) {
      font-size: 14px;
    }
  }

  &-alt {
    color: color(blue-30)
  }
}