.history {
  padding-top: 104px;
  // padding-bottom: 830px;
  position: relative;
  z-index: 1;
  min-height: 1588px;
  overflow: hidden;

  @include viewport($breakpoint-mobile) {
    min-height: auto;
    padding-bottom: 100px
  }

  &-wave {
    position: absolute;
    top: 313px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    width: 1920px;

    @include viewport($breakpoint-laptop-sm) {
      // top: 500px;
    }

    img {
      width: 100%;
      display: block;
      object-fit: contain;
      position: relative;

      // @include viewport($breakpoint-laptop-sm) {
      //   left: -20%;
      // }
    }
  }

  &-fishes {
    position: absolute;
    top: -114px;
    right: 119px;
    width: 676px;

    @include viewport($breakpoint-laptop-sm) {
      width: calc(676px*0.7);
    }

    @include viewport($breakpoint-mobile) {
      display: none;
    }
  }

  &-pufferfish {
    position: absolute;
    top: -239px;
    right: 31%;
    width: 167px;

    @include viewport($breakpoint-laptop-sm) {
      width: calc(167px*0.7);
    }

    @include viewport($breakpoint-mobile) {
      display: none;
    }
  }

  &-content {
    padding: 0 80px;

    @include viewport($breakpoint-laptop-sm) {
      padding: 0;
    }
  }

  &-heading {
    margin-bottom: 110px;
    padding-left: 22px;
    position: relative;
    display: inline-flex;

    @include viewport($breakpoint-laptop-sm) {
      padding-left: 0;
    }

    @include viewport($breakpoint-mobile) {
      margin-bottom: 60px;
    }
  }

  &-penguin {
    width: 127px;
    position: absolute;
    top: -2px;
    right: -164px;

    @include viewport($breakpoint-laptop-sm) {
      width: calc(127px*0.7);
      right: calc(-164px*0.7);
    }

    @include viewport($breakpoint-mobile) {
      width: calc(127px*0.5);
      right: calc(-164px*0.5);
    }

    img {
      width: 100%;
      object-fit: contain;
      display: block;
    }
  }

  &-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 44px 0;
    max-width: 497px;
    width: 100%;
    margin-left: 23px;

    @include viewport($breakpoint-laptop-sm) {
      margin-left: 0;
    }

    @include viewport($breakpoint-mobile) {
      max-width: none;
    }
  }

  &-desc {
    font-size: 16px;
    color: color(blue-100);
    letter-spacing: 0.04em;
    line-height: 1.58;
    padding-left: 7px;

    @include viewport($breakpoint-mobile) {
      padding-left: 0;
      font-size: 14px;
    }
  }

  &-button {}

  &-video {
    height: 700px;
    max-width: 1312px;
    width: 100%;
    margin: 0 auto;
    background-color: #DBDBDB;
    display: block;
    margin-top: 159px;

    @include viewport($breakpoint-mobile) {
      margin-top: 50px;
      height: 320px;
    }

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}