.journey {
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin-top: -168px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(74, 169, 206, 1) 50%, rgba(74, 169, 206, 1) 100%);


  &-bg {
    width: 1920px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
    z-index: -1;
    padding-top: 85px;
  }

  &-waves {
    width: 100%;
    height: 100%;
  }

  &-wave {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;

    &-2 {
      top: 0;
    }

    &-3 {
      top: 0;
    }

    &-animals {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      height: 100%;

      @include viewport($breakpoint-laptop) {
        width: 1080px;
      }

      @include viewport(524px) {
        width: 900px;
      }
    }
  }

  &-fish {
    position: absolute;
    width: 369px;
    opacity: 0.1;

    &-1 {
      top: 9.3%;
      left: -140px;
    }

    &-2 {
      top: 14%;
      left: 204px;
    }

    &-3 {
      top: 25.7%;
      right: -133px;
      scale: -1 1;
    }

    &-4 {
      top: 30.5%;
      right: 223px;
      scale: -1 1;
    }

    &-5 {
      bottom: 22.7%;
      left: -197px;
    }

    &-6 {
      bottom: 18.1%;
      left: 148px;
    }
  }

  &-flying-fish {
    position: absolute;
    top: 10.6%;
    right: 27%;
    width: 376px;

    @include viewport($breakpoint-laptop-sm) {
      width: 263px;
    }

    @include viewport($breakpoint-mobile) {
      top: 4.6%;
    }
  }

  &-squirtle {
    position: absolute;
    top: 20%;
    right: 9.8%;
    width: 378px;

    @include viewport($breakpoint-laptop-sm) {
      width: calc(378px*0.7);
    }

    @include viewport($breakpoint-mobile) {
      width: calc(378px*0.6);
      top: 25%;
      right: 20%;
    }
  }

  &-tin {
    position: absolute;
    width: 110px;
    top: 25.2%;
    right: 32.6%;
    rotate: -111deg;

    @include viewport($breakpoint-laptop-sm) {
      width: calc(110px*0.7);
    }

    @include viewport($breakpoint-mobile) {
      width: calc(110px*0.6);
      right: 42.6%;
      top: 31%;
    }
  }

  &-plastic {
    position: absolute;
    width: 111px;
    top: 14%;
    left: 25%;
    rotate: 69deg;

    @include viewport($breakpoint-laptop-sm) {
      width: calc(111px*0.7);
    }
  }

  &-penguin {
    position: absolute;
    top: 25.1%;
    left: 165px;
    width: 372px;

    @include viewport($breakpoint-laptop-sm) {
      width: calc(372px*0.7);
    }

    @include viewport($breakpoint-mobile) {
      width: calc(372px*0.55);
      top: 31.1%;
      left: 25%
    }
  }

  &-group-fish {
    width: 150px;
    position: absolute;
    top: 27.7%;
    left: 34.6%;

    @include viewport($breakpoint-laptop-sm) {
      width: calc(150px*0.7);
    }

    @include viewport($breakpoint-mobile) {
      width: calc(150px*0.55);
      left: 48.6%;
      top: 30.7%;
    }
  }

  &-starfish {
    position: absolute;
    top: 35.5%;
    left: 36.2%;
    width: 111px;

    @include viewport($breakpoint-laptop-sm) {
      width: calc(111px*0.7);
    }

    @include viewport($breakpoint-mobile) {
      width: calc(111px*0.55);
      top: 38.5%;
    }
  }

  &-jellyfish {
    position: absolute;
    top: 12.5%;
    right: 18%;
    width: 141px;
    scale: -1 1;
    rotate: 8deg;

    @include viewport($breakpoint-laptop-sm) {
      width: calc(141px*0.7);
    }
  }

  &-bear {
    position: absolute;
    top: 25.5%;
    right: 14.5%;
    width: 386px;
    scale: -1 1;
    rotate: -18deg;

    @include viewport($breakpoint-laptop-sm) {
      width: calc(386px*0.7);
    }

    @include viewport($breakpoint-mobile) {
      width: calc(386px*0.55);
      top: 55%;
      right: 25%;
    }
  }

  &-bottle {
    position: absolute;
    top: 37.7%;
    right: 42.4%;
    width: 112px;

    @include viewport($breakpoint-laptop-sm) {
      width: calc(112px*0.7);
    }
  }

  &-yellow-fish {
    position: absolute;
    top: 23.5%;
    right: 14.5%;
    width: 97px;

    @include viewport($breakpoint-laptop-sm) {
      width: calc(97px*0.7);
    }
  }

  &-content {
    padding-top: 508px;
    padding-left: 66px;
    padding-right: 61px;
    padding-bottom: 508px;

    @include viewport($breakpoint-laptop-sm) {
      padding-top: 250px;
    }

    @include viewport($breakpoint-mobile) {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 400px;
    }
  }

  &-container {
    display: flex;
    flex-direction: column;
    gap: 408px 0;
    margin-bottom: 190px;

    @include viewport($breakpoint-mobile) {
      gap: 300px 0;
    }
  }

  &-article {
    height: 600px;

    &:nth-of-type(even) {
      text-align: right;
    }
  }

  &-desc {
    font-size: 28px;
    font-weight: bold;
    white-space: pre-line;
    letter-spacing: 0.3em;
    line-height: 2.15;

    @include viewport($breakpoint-laptop-sm) {
      font-size: 20px;
      letter-spacing: 0.1em;
    }

    @include viewport($breakpoint-mobile) {
      font-size: 16px;
    }
  }

  &-welcome {
    margin-top: 10px;
    font-family: $font-lemon;
    font-size: 35px;
    letter-spacing: 0.2em;
    margin-top: 78px;
  }

  &-button {
    color: color(blue-60);
    text-align: center;
  }
}