.journey {
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin-top: -168px;

  &-bg {
    width: 1920px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
    z-index: -1;
    padding-top: 85px;
  }

  &-waves {
    width: 100%;
    height: 100%;
  }

  &-wave {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
  }

  &-fish {
    position: absolute;
    width: 369px;
    opacity: 0.1;

    &-1 {
      top: 9.3%;
      left: -140px;
    }

    &-2 {
      top: 14%;
      left: 204px;
    }

    &-3 {
      top: 25.7%;
      right: -133px;
      scale: -1 1;
    }

    &-4 {
      top: 30.5%;
      right: 223px;
      scale: -1 1;
    }

    &-5 {
      bottom: 22.7%;
      left: -197px;
    }

    &-6 {
      bottom: 18.1%;
      left: 148px;
    }
  }

  &-flying-fish {
    position: absolute;
    top: 10.6%;
    right: 27%;
    width: 376px;
  }

  &-squirtle {
    position: absolute;
    top: 20%;
    right: 9.8%;
    width: 378px;
  }

  &-tin {
    position: absolute;
    width: 110px;
    top: 25.2%;
    right: 32.6%;
    rotate: -111deg;
  }

  &-plastic {
    position: absolute;
    width: 111px;
    top: 14%;
    left: 25%;
    rotate: 69deg;
  }

  &-penguin {
    position: absolute;
    top: 25.1%;
    left: 165px;
    width: 372px;
  }

  &-group-fish {
    width: 150px;
    position: absolute;
    top: 27.7%;
    left: 34.6%;
  }

  &-starfish {
    position: absolute;
    top: 35.5%;
    left: 36.2%;
    width: 111px;
  }

  &-jellyfish {
    position: absolute;
    top: 12.5%;
    right: 18%;
    width: 141px;
    scale: -1 1;
    rotate: 8deg;
  }

  &-bear {
    position: absolute;
    top: 25.5%;
    right: 14.5%;
    width: 386px;
    scale: -1 1;
    rotate: -18deg;
  }

  &-bottle {
    position: absolute;
    top: 37.7%;
    right: 42.4%;
    width: 112px;
  }

  &-yellow-fish {
    position: absolute;
    top: 23.5%;
    right: 14.5%;
    width: 97px;
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: 407px 0;
    min-height: 3221px;
    padding-top: 508px;
    padding-left: 66px;
    padding-right: 61px;
  }

  &-article {
    &:nth-of-type(even) {
      text-align: right;
    }
  }

  &-desc {
    font-size: 28px;
    font-weight: bold;
    white-space: pre-line;
    letter-spacing: 0.3em;
    line-height: 2.15;
  }

  &-welcome {
    margin-top: 10px;
    font-family: $font-lemon;
    font-size: 35px;
    letter-spacing: 0.2em;
    margin-top: 78px;
  }

  &-button {
    color: color(blue-60);
    text-align: center;
  }
}