.partners {
  position: relative;
  z-index: 1;
  margin-top: -275px;

  &-waves {
    position: absolute;
    width: 1950px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;

    img {
      display: block;
      width: 100%;
      object-fit: contain;
    }
  }

  &-fish {
    position: absolute;
    top: -51%;
    right: 21%;
    width: 225px;
  }

  &-plastic {
    position: absolute;
    top: -21%;
    right: 15.6%;
    width: 153px;
  }

  &-content {
    padding: 226px 80px 0;

    @include viewport($breakpoint-desktop) {
      padding: 226px 0 0;
    }
  }

  &-label {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.2em;
    color: color(blue-60);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 10px;

    @include viewport($breakpoint-mobile) {
      font-size: 16px;
      text-align: center;
      line-height: 150%;
    }

    &::before {
      content: '';
      display: inline-block;
      width: 71px;
      height: 54px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url('#{$image-path}/creatures/penguin-tripad.svg');

      @include viewport($breakpoint-mobile) {
        display: none;
      }
    }
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 56px 0;
    margin-top: 90px;

    @include viewport($breakpoint-desktop) {
      grid-template-columns: repeat(4, 1fr);
    }

    @include viewport($breakpoint-laptop-sm) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include viewport($breakpoint-mobile) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include viewport($breakpoint-mobile-l) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-figure {
    img {
      display: block;
      width: 100%;
      object-fit: cover;
    }
  }
}